.home-page-link {
  text-align: left;
  text-shadow: 2px 2px black;
  font-size: 40px;
  color: #c6dcba;
  
}

.page {
  background-color: #e3e1d9;
}

a {
  text-decoration: none;
  color: #c6dcba;
}

a:hover {
  color: #65647c;
}

.header {
  text-align: center;
  text-shadow: 2px 2px black;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 80px;
  color: #c6dcba;
}

.link {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px;
  margin-left: 38%;
  margin-right: 38%;
  padding: 20px;
  list-style-type: none;
  outline: 10px solid;
  outline-color: bisque;
  background-color: #f1efe9;
  text-shadow: 0.5px 0.5px black;
  font-size: 30px;
}

.food-description {
  display: block;
  text-align: center;
  height: 30px;
  width: 50%;
  margin: 50px 400px 50px;

}



.loaded-fries-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
